body{
  text-align: center;
  background-color: gray;
}
img {
  width: 500px;
  border-color:black;
  border-style: ridge;
  border-width: 5px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h5 {
  font-size: 15px;
} 

.winter {
  color: rgb(195,230,255);
  font-family: monospace; 
} 

.spring {
  color: rgb(236,222,106);
  font-family: cursive;  
}

.summer {
  color: rgb(234,128,158);
  font-family: sans-serif;
}

.fall {
  color: rgb(61,172,83);
  font-family: inherit;
}
